page-edit-profile {
    .scroll-content{
        padding-bottom: 0 !important;
        }
        .Padding__Register{
          padding-left:10px;
          padding-right: 10px;
        }
        .validation{
            text-align: right;
            padding-right: 18px;
            padding-left: 18px;
          }
          .validation span{
            color: red;
          }
    }
