page-order-items-details {
    .Cartoon_name{
        font-size:12px;
      }
      .Cartoon_price{
        padding-left:10px;
        padding-right:10px;
        color: #2bc73b;
      }
      .Cartoon_price b{
        color: #656565;
      
      }
              .Card_height{
                max-height: 140px;
                overflow: hidden;
            }
            
            .button-Product {
                display: inline-block;
                width: 49%;
                contain: strict;
                margin: 0 !important
            }
            .Card_height{
              position: relative;
              overflow: hidden;
            }
            .card-md {
              margin-bottom: -5px !important;
            }
            .CollectionElement{
              padding-left: 17px;
            }
            .Padding-top{
              padding-top: 25px;
              padding-left: 17px;
            }
}
