page-choose-language {
    .LanguageBackground{
      background-image: url("../assets/images/bg_login.jpg");
      background-size: cover;
    }
    .scroll-content{
      padding-bottom: 0 !important;
      }
  
    ion-title img{
  
      width: 141px;
      padding-top: 17vh;
    }
    .login_button{
      margin-top: 17px;
      margin-bottom: 20px;
    }
  
  
  
  
  
  }
  